<!doctype html>
<html>
	<head>
		<title>Hello Users</title>
		<script src="lib/angular.js"></script>
		<link rel="stylesheet" href="styles/styles.css" />
	</head>
	<body data-ng-app>
		<p data-ng-hide="flag1">This is the first paragraph...</p>
		<button data-ng-click="flag1 = true">TRUE</button>
		<button data-ng-click="flag1 = false">FALSE</button>
		<br><br><br>
		<p data-ng-if="flag2">This is the second paragraph...</p>
		<button data-ng-click="flag2 = true">TRUE</button>
		<button data-ng-click="flag2 = false">FALSE</button>
	</body>
</html>